.search-button{
    align-items: center;
    background-color: #000;
    border-radius: 2px;
    cursor:pointer;
    display: grid;
    justify-content: center;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    transition: 1000ms;
    width:30px;
    height: stretch;
}

.magnifying-glass{
    cursor: pointer;
    filter:invert(1);
    width: auto;
    height: 50%;
}

.magnifying-glass:hover{
    filter:invert(0.9);
}

.magnifying-glass:active{
    filter:invert(0.8);
}

.svg-left-arrow-hide-search-input{
    fill:#FFF;
}

.svg-left-arrow-hide-search-input:hover{
    opacity: 0.9;
}

.svg-left-arrow-hide-search-input:active{
    opacity: 0.8;
}

@media only screen and (max-width:600px){
    .search-button{
        background-color: #000;
    }
}