.svg-home{
    display: block;
    fill: #FFF;
    transition: 500ms ease;
    width: 15px;
    height: 15px;
}

.svg-home:hover{
    fill: rgb(230, 182, 60);
}

.svg-home:active{
    fill:rgba(255,255,255,0.6);
}



.svg-left-arrow-hide-search-input{
    fill:#F00;
}

.svg-left-arrow-hide-search-input:hover{
    opacity: 0.9;
}

.svg-left-arrow-hide-search-input:active{
    opacity: 0.8;
}



.magnifying-glass{
    cursor: pointer;
    fill:#FFF;
    width: 100%;
    height: 50%;
}

.magnifying-glass:hover{
    opacity: 0.9;
}

.magnifying-glass:active{
    opacity: 0.8;
}



.rotate-phone{
    fill:#FFF !important;
    width: 18px;
    height: 18px;
    top:2px;
    position: absolute;
}






