.search-bar{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 1px;
    overflow: hidden;
    position: relative;
	transition: 500ms;
	width: 100%;
    height: stretch;
    
    .search-bar__input{
        margin-right:2px;
        opacity: 0.9;
		transition: 700ms;
		width: 33vw;
        height: 100%;
    }

    .search-bar__clear{
        color:rgba(255,0,0,0.5);
        cursor:pointer;
        position: absolute;
        right: 23px;
    }

    .search-bar__clear:hover{
        font-weight: 500;
    }

    .search-bar__clear:active{
        font-weight: 700;
    }

    .search-bar__magnifying-glass-container{
        align-items: center;
        display: flex;
        position:relative;
        width: 15px;
        height: 100%;
    }
}

@mixin searchBarInputPlaceholder($height, $minWidth, $maxWidth) {
    $maxWithExpression: 'none';
    @if $maxWidth!=none {
        $maxWithExpression: "only screen and (min-width: "+ $minWidth+") and (max-width: " + $maxWidth + ")"; 
    } @else {
        $maxWithExpression: "only screen and (min-width: "+ $minWidth+")";         
    };
    
    @media #{$maxWithExpression} {
        .search-bar__input::placeholder{
            font-size:$height;
        }
    }
}

@include searchBarInputPlaceholder(14px, 801px, none);
@include searchBarInputPlaceholder(12px, 601px, 800px);
@include searchBarInputPlaceholder(10px, 401px, 600px);
@include searchBarInputPlaceholder(8px, 0px, 400px);

@media only screen and (max-width:600px){
    .search-bar{
        width:0;
    }
}
