@use "../../../Styles/Modules/modules";

.home-button-container{
    @extend %button-header;
    align-items: center;
    display: flex;
    justify-content: center;
}

.home-button-container:hover{
    border: 1px solid rgba(255,255,255,0.6);
}