@use "../../../Styles/Modules/modules";

.language-button-container{
    @extend %button-header;

    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;

    .language-button-container__button{
        /* filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 1)); */
        width: 100%;
    }
}

.language-button-container:hover{
    border: 1px solid rgba(255,255,255,0.6);
}

.language-button-container:active .language-button-container__button {
    //box-shadow: 0px 0px 15px rgba(255,255,255,1);
    animation: rotateFlag 500ms ease-out forwards;
}

@keyframes rotateFlag{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(720deg);
    }
}